* text=auto
*.fig binary
*.mat filter=lfs diff=lfs merge=lfs -text
*.mdl binary diff merge=mlAutoMerge
*.mdlp binary
*.mex* filter=lfs diff=lfs merge=lfs -text
*.mlapp binary
*.mldatx binary merge=mlAutoMerge
*.mlproj binary
*.mlx binary
*.p binary
*.plprj binary
*.sbproj binary
*.sfx binary
*.sldd binary
*.slreqx binary merge=mlAutoMerge
*.slmx binary merge=mlAutoMerge
*.sltx binary
*.slxc binary
*.slx filter=lfs diff=lfs merge=lfs -text
*.slxp binary
## MATLAB Project metadata files use LF line endings
/resources/project/**/*.xml text eol=lf
## Other common binary file types
*.docx binary
*.exe binary
*.jpg binary
*.pdf binary
*.png binary
*.xlsx binary
